@import "css_reset";
@import "top_bar";
@import "subscriptions_menu";
@import "post";
@import "variables";

body {
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
}

a,button {
  cursor: pointer;
}

a {
  color: navy;
}

button {
  padding: .5em;
  background-color: lightblue;
  border-radius: .2em;
}

main {
  margin: ($top-bar-ht + 1em) 0 0 $sidebar-width;
}

input[type="search"] {
  color: #555;
  background-color: #efefef;
  border-radius: .3em 0 0 .3em;
  padding: .1em;
  &:focus {
    color: inherit;
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  input {
    flex: 1 1 6em;
  }
  button {
    padding: .2em;
    flex: 0 0 2em;
    height: $search-input-ht;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-image: url('../res/search_icon.svg');
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
