@import "css_reset";
@import "top_bar";
@import "subscriptions_menu";
@import "search_bar";
@import "post";
@import "variables";

body {
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
}

a,button {
  cursor: pointer;
}

a {
  color: navy;
}

button {
  padding: .5em;
  background-color: lightblue;
  border-radius: .2em;
  user-select: none;
}

button:hover {
  background-color: #ffbe68;
}

main {
  margin: ($top-bar-ttl + .5em) 0 0 $sidebar-width;
}

.disp-errs {
  background-color: orange;
  border-radius: .3em;
  padding: .3em;
  position: fixed;
  width: 30vw;
  left: 35vw;
  top: $top-bar-ttl;
  margin: auto;
}

.loading-img {
  width: auto;
}

@media (max-width: 800px) {
  main {
    margin: 0;
  }
}

@media (min-width: 1400px) {
  #root {
    font-size: 28px;
  }
}
