@import "variables";

$sr-item-ht: 1.3em;
$subscrips-pad: .3em;

.subscrips-menu {
  position: fixed;
  top: 2 * $top-bar-ttl;
  left: 0;
  width: $sidebar-width;
  padding: $subscrips-pad;
  border-radius: 0 .3em .3em 0;
  background-color: orange;
  z-index: 1;
  .search-results {
    position: fixed;
    top: 2 * $top-bar-ttl + $search-input-ht + $subscrips-pad;
    left: $subscrips-pad;
  }
}

.sr-menu-items {
  background-color: #efefef;
  margin-top: .3em;
  min-height: 30vh;
  max-height: 70vh;
  padding: 0;
  border-radius: .3em;
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  .loading-img {
    margin: 0 auto;
    height: 2em;
  }
}

.sr-menu-item {
  line-height: $sr-item-ht;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  button {
    padding: 0;
    width: 1em;
    height: $sr-item-ht;
    text-align: center;
    border-radius: 0;
    border-left: 1px solid black;
  }
}


.sr-item-name {
  margin-right: auto;
  margin-left: .3em;
  width: 4em;
}

@media (max-width: 800px) {
  .subscrips-menu {
    width: 80vw;
    transition: left 1s;
    box-sizing: border-box;
    &.collapsed {
      left: -80vw;
    }
  }
  .sb-clps {
    border-radius: 0 .3em .3em 0;
    background-color: orange;
    padding: .3em 0;
    position: absolute;
    left: 80vw;
    top: 1em;
  }
}
