@import "variables";

nav {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  background-color: lightblue;
  padding: $top-bar-pad;
  width: 100vw;
  height: $top-bar-ht;
  display: flex;
  justify-content: space-between;
  transition: top 1s;
  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  img {
    max-height: 100%;
    width: auto;
  }
  &.collapsed {
    top: -$top-bar-ttl;
  }
}

.nav-clps {
  position: absolute;
  left: 1em;
  top: $top-bar-ttl;
  padding: 0 .3em;
  border-radius: 0 0 .3em .3em;
  display: none;
}

.user-name {
  justify-content: flex-end;
  img {
    width: 2em;
    cursor: pointer;
  }
}

.logo {
  margin-left: 2em;
  justify-content: flex-start;
  user-select: none;
  cursor: pointer;
  img {
    width: auto;
    height: $top-bar-ht;
  }
  span {
    font-size: 1.4em;
    margin-left: .2em;
  }
}

.login {
  min-width: 3em;
}

@media (max-width: 800px) {
  .logo {
    span {
      display: none;
    }
  }
  .user-name {
    span {
      display: none;
    }
  }
  .nav-clps {
    display: block;
  }
}

@media (max-width: 400px) {
  .logo {
    margin-left: auto;
  }
}
