@import "variables";

nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: lightblue;
  padding: .2em;
  width: 100vw;
  height: $top-bar-ht;
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10em;
  }
  .search-input {
    box-sizing: border-box;
    height: $search-input-ht;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
  }
  .search-bttn {
    box-sizing: border-box;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  img {
    max-height: 100%;
    width: auto;
  }
}

.logo {
  margin-left: 2em;
  justify-content: flex-start;
  img {
    width: auto;
    height: $top-bar-ht;
  }
  span {
    font-size: 1.4em;
    margin-left: .2em;
  }
}
